[Desktop Entry]
Version=1.1.3+4
Name=Character Map
Name[de]=Zeichentabelle
Name[fr]=Table des caractères
Name[it]=Mappa caratteri
Name[pt]=Mapa de caracteres
Name[uk]=Таблиця символів
Name[ru]=Таблица символов
Name[tr]=Karakter Eşlemi
Name[el]=Πίνακας χαρακτήρων
Name[pl]=Tablica znaków
GenericName=Character Map
GenericName[de]=Zeichentabelle
GenericName[fr]=Table des caractères
GenericName[it]=Mappa caratteri
GenericName[pt]=Mapa de caracteres
GenericName[uk]=Таблиця символів
GenericName[ru]=Таблица символов
GenericName[tr]=Karakter Eşlemi
GenericName[el]=Πίνακας χαρακτήρων
GenericName[pl]=Tablica znaków
Comment=Character Map
Comment[de]=Zeichentabelle
Comment[fr]=Table des caractères
Comment[it]=Mappa caratteri
Comment[pt]=Mapa de caracteres
Comment[uk]=Таблиця символів
Comment[ru]=Таблица символов
Comment[tr]=Karakter Eşlemi
Comment[el]=Πίνακας χαρακτήρων
Comment[pl]=Tablica znaków
Terminal=false
Type=Application
Categories=Utility;
Keywords=Fonts, Font, Character, Character Map;
StartupWMClass=charactermap
Exec=/usr/bin/charactermap
TryExec=/usr/bin/charactermap
Icon=app.rayadams.charactermap
