[Desktop Entry]
Version=1.1.4+6
Name=Character Map
Name[de]=Zeichentabelle
Name[fr]=Table des caractères
Name[it]=Mappa caratteri
Name[pt]=Mapa de caracteres
Name[uk]=Таблиця символів
Name[ru]=Таблица символов
Name[tr]=Karakter Eşlemi
Name[el]=Πίνακας χαρακτήρων
Name[pl]=Tablica znaków
Name[ja]=文字マップ
Name[ko]=문자표
Name[hi]=वर्ण मानचित्र
GenericName=Character Map
GenericName[de]=Zeichentabelle
GenericName[fr]=Table des caractères
GenericName[it]=Mappa caratteri
GenericName[pt]=Mapa de caracteres
GenericName[uk]=Таблиця символів
GenericName[ru]=Таблица символов
GenericName[tr]=Karakter Eşlemi
GenericName[el]=Πίνακας χαρακτήρων
GenericName[pl]=Tablica znaków
GenericName[ja]=文字マップ
GenericName[ko]=문자표
GenericName[hi]=वर्ण मानचित्र
Comment=Character Map
Comment[de]=Zeichentabelle
Comment[fr]=Table des caractères
Comment[it]=Mappa caratteri
Comment[pt]=Mapa de caracteres
Comment[uk]=Таблиця символів
Comment[ru]=Таблица символов
Comment[tr]=Karakter Eşlemi
Comment[el]=Πίνακας χαρακτήρων
Comment[pl]=Tablica znaków
Comment[ja]=文字マップ
Comment[ko]=문자표
Comment[hi]=वर्ण मानचित्र
Terminal=false
Type=Application
Categories=Utility;
Keywords=Fonts, Font, Character, Character Map;
StartupWMClass=app.rayadams.charactermap
Exec=/usr/bin/charactermap
TryExec=/usr/bin/charactermap
Icon=app.rayadams.charactermap
