[Desktop Entry]
Version=1.1.5+7
Name=Character Map
Name[de]=Zeichentabelle
Name[fr]=Table des caractères
Name[it]=Mappa caratteri
Name[pt]=Mapa de caracteres
Name[uk]=Таблиця символів
Name[ru]=Таблица символов
Name[tr]=Karakter Eşlemi
Name[el]=Πίνακας χαρακτήρων
Name[pl]=Tablica znaków
Name[ja]=文字マップ
Name[ko]=문자표
Name[hi]=वर्ण मानचित्र
GenericName=Character Map
GenericName[de]=Zeichentabelle
GenericName[fr]=Table des caractères
GenericName[it]=Mappa caratteri
GenericName[pt]=Mapa de caracteres
GenericName[uk]=Таблиця символів
GenericName[ru]=Таблица символов
GenericName[tr]=Karakter Eşlemi
GenericName[el]=Πίνακας χαρακτήρων
GenericName[pl]=Tablica znaków
GenericName[ja]=文字マップ
GenericName[ko]=문자표
GenericName[hi]=वर्ण मानचित्र
Comment=Character Map for Linux
Comment[de]=Zeichentabelle für Linux
Comment[fr]=Table des caractères pour Linux
Comment[it]=Mappa caratteri per Linux
Comment[pt]=Mapa de caracteres para Linux
Comment[uk]=Таблиця символів для Linux
Comment[ru]=Таблица символов для Linux
Comment[tr]=Linux için Karakter Eşlemi
Comment[el]=Πίνακας χαρακτήρων για Linux
Comment[pl]=Tablica znaków dla systemu Linux
Comment[ja]=Linux用の文字マップ
Comment[ko]=Linux용 문자표
Comment[hi]=Linux के लिए वर्ण मानचित्र
Terminal=false
Type=Application
Categories=Utility;
Keywords=Fonts, Font, Character, Character Map;
Icon=${SNAP}/meta/gui/charactermap.png
Exec=charactermap
StartupWMClass=app.rayadams.charactermap
